<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="${basedir}\internal.txt" throwExceptions="true">


  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="allfile" fileName="${basedir}\NLog\All\all-${shortdate}.log"
                 layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

    <target xsi:type="File" name="ownFile" fileName="${basedir}\NLog\Trace\nlog-own-${callsite}-${shortdate}.log"
              layout="${longdate}|${logger}|${uppercase:${level}}|${message}" />
   <target xsi:type="File" name="ErrorFile" fileName="${basedir}\NLog\Error\Error-${callsite}-${shortdate}.log"
              layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
                <target xsi:type="File" name="DebugFile" fileName="${basedir}\NLog\Debug\Debug-${callsite}-${shortdate}.log"
              layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" level="Trace" writeTo="allfile" />
    <logger name="*" level="Debug" writeTo="DebugFile" />
    <logger name="*" minlevel="Error" writeTo="ErrorFile" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile" />
  </rules>
</nlog>