@model MediaApplication.Models.MovieViewModels.PagingMovieViewModel
 @{ ViewData["Title"] = "Movies"; }


<div class="page">
    <div class="breadcrumbs">
        <a asp-action="Index">Home</a>
        <span>All Movies</span>
    </div>

    <div class="filters">
       
  <select asp-for="SelectedGenreId" asp-items="Html.GetEnumSelectList<GenreEnum>()" >
                   <option value="-1">Please select</option>
              </select>



        <select name="selectedYear" id="selectedYear">
								<option value="#">2015</option>
								<option value="#">2016</option>
								<option value="#">2017</option>
							</select>
    </div>
    @if(Model != null && Model.AllMovies != null) {

    <div class="movie-list">

    @foreach(var movie in Model.AllMovies) 
        { 
             string imgSrc = String.Empty; 
         @:<div class="movie">
           
            if(movie.Images != null && movie.Images.Count > 0)
            {
                var thumbnailString = movie.Images.FirstOrDefault().Thumbnail;
                    if(!String.IsNullOrEmpty(thumbnailString))
                    { //
                          imgSrc = $"data:image/gif;base64,{thumbnailString}";
                    }
            } 

            <figure class="movie-poster">
                 <img src="@imgSrc" alt="#"/>
            </figure>
            <div class="movie-title"><a asp-action="detail" asp-controller="Movies" asp-route-id="@movie.Id">@movie.Title</a></div>
            <p>@movie.Description</p>
        @:</div>
    }

      
      
    </div>
    }
    <!-- .movie-list -->

    <div class="pagination">
        <a href="#" class="page-number prev"><i class="fa fa-angle-left"></i></a>
        <span class="page-number current">1</span>
        <a href="#" class="page-number">2</a>
        <a href="#" class="page-number">3</a>
        <a href="#" class="page-number">4</a>
        <a href="#" class="page-number">5</a>
        <a href="#" class="page-number next"><i class="fa fa-angle-right"></i></a>
    </div>
</div>
























@section scripts{

<style>
    .CustomLabel {
        font-weight: 100;
    }
</style>
}